<!DOCTYPE html>
<html>
  <head>
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/hb1">Hb1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hb2">Hb2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hb3">Hb3</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Others
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/hb4">Hb4</a></li>
                <li><a class="dropdown-item" href="/hbprofs">Hbsprofs</a></li>
                <li><a class="dropdown-item" href="/lorem">lorem</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{{ body }}}


    <footer class="text-center text-lg-start bg-light text-muted">

      <div class="text-center p-4" style="background-color: rgba(0, 0, 0,
        0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://webacademy.com.br/">WebAcademy</a>
      </div>

    </footer>
    <script src="/js/bootstrap.bundle.js"></script>
  </body>
</html>
