<!DOCTYPE html>
<html>
    <head>
        <title>Express + Handlebars!</title>
    </head>
    <body>
        <h1>Handlebars! 2</h1>
        {{#if poweredByNodejs}}
            <span>{{name}} {{type}}</span>
        {{/if}}
    </body>
</html>