<!DOCTYPE html>
<html>
    <head>
        <title>Express + Handlebars!</title>
    </head>
    <body>
        <div class="container">
            <p>Tecnologias desenvolvidas com NodeJS</p>
            {{{tecnologiasNode listaTecnologias}}}
        </div>
    </body>
</html>