<!DOCTYPE html>
<html>
    <head>
        <title>Express + Handlebars!</title>
    </head>
    <body>
        <div class="container">
            <p>Alguns professores do IComp/UFAM:</p>
            {{{listProfs professores}}}
        </div>
    </body>
</html>