<!DOCTYPE html>

<html>
    <head>
        <title>Atividade 7 Node.js</title>
        <link rel="stylesheet" href="/css/lorem.css">
    </head>
    <body>
        <h1>Atividade 7 Node.js</h1>
        <div class="container">
            <form id="paragraphForm">
                <div class="form-group">
                    <label for="paragraphCount">Número de Parágrafos:</label>
                    <input type="number" id="paragraphCount" name="count" min="1" max="10">
                </div>
                <button type="submit">Gerar Lorem Ipsum</button>
            </form>
            <div class="result">
                    <h2>Resultado:</h2>
                    <div id="result"></div>
                  </div>
            </div>
        </div>
        
        <script src="/js/script.js"></script>
    </body>
</html>